body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 70px;
    text-align: center;
    background-image: url('img/papel_de_parede_girassol_poa_981_1_776f7754ac7d17180a7d5a6cd4ce56c0.webp'); 
  }
  
  .container {
    background-color: rgb(159, 226, 215);
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    background-color: #e9e9e9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .remover {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
  }
  